@import 'tailwindcss';
@config '../tailwind.config.ts';

@layer base {
  html,
  body,
  #root {
    height: 100%;
  }

  body {
    @apply bg-canvas font-sans text-black antialiased;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    overscroll-behavior: none;
  }
}
